@charset "utf-8";

/**************************************/
/*--- CSS PAGELAYOUT FOOTER PAGINA ---*/
/**************************************/


/* NA correcte opmaak verplaats deze css naar de main pagina layout */


.footerLinks {
    background: #4e6078;
    color: white;
    padding: 2em;
    width: 90%;
    float: left;
    text-align: center;
}

.footerRechts {
    background: #4e6078;
    width: 10%;
    min-width: 100px;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    float: right;
    text-align: right;
}

/* zelfde als uit persoonlijkepagine.css */
.menu li{
    text-decoration: none;
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}

