@charset "utf-8";
/* CSS Document voor Flexidating */

body {
	font-family:Verdana, Geneva, sans-serif;
	margin:0;
	padding:0;
    background-color: floralwhite;
    color: #4e6078;
}

img {
   border: none;
   float: left;
   margin: 0 1.25em 0.5em 0;
}

clear {
    clear: both;
}

.wrapper {
	width:1000px;
	margin: 0 auto;
	padding:0;
	outline:none;
	border:none;
}


/**** HEADER ****/
header {
	background: #4e6078;
	padding: 15em 2em;
    font-size: 15px;
    color: white;
}

header h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:4em;
	color: white;
	margin:0.25em 0;
}


/**** FOOTER ****/
footer {
    background: #4e6078;    
    padding: 1em 2em;
    clear: both;
    text-align: center;
    color: white;
}



/**** TOPMENU ****/

#topmenu {
    background: #ededed;
}
#topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
#topmenu ul li {
    float: left;
}
#topmenu ul li a {
    display: block;
    padding: 0.375em 0.5em; /*6px 8px*/
    border-right: 1px solid #58ec4e;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: white;
}

#topmenu ul li a:hover,
#topmenu ul li a:active,
#topmenu ul li a.actief {
    text-decoration: none;
    background: #fdc379;
    color: #4e6078;
}




/**** clearfix hack ****/
.clearFix:before,
.clearFix:after {
    content: " ";
    display: table;
}

.clearFix:after {
    clear: both;
}

/* enkel voor IE6/7 */
.clearFix {
    *zoom: 1;
}

.leftcolumn {
    color: #FF0000;
}



/**** Full-width input fields ****/
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/**** Set a style for all buttons ****/
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color:#f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none;
/* Hidden by default */
    position: fixed;
/* Stay in place */
    z-index: 1;
/* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
/* Full width */
    height: 100%;
/* Full height */
    overflow: auto;
/* Enable scroll if needed */
    background-color: rgb(0,0, 0);
/* Fallback color */
    background-color: rgba(0,0,0, 0.4);
/* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
/* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
/* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes 
animatezoom {
from {
    -webkit-transform:
        scale(0)
}

to {
    -webkit-transform:
        scale(1)
}
}

@keyframes 
    animatezoom {
from {
    transform: scale(0)
}

to {
    transform: scale(1)
}
}

/* Change styles for span and cancel button on extra small screens */
@media 
screen and (max-width: 300px) {
span.psw {
    display: block;
    float: none;
}

.cancelbtn {
    width: 100%;
}
}


/* ########################## */
/* pastesd from register.html */
/* ########################## */



/* NOG AANPASSEN */
* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
border: 
1px 
solid #f1f1f1;
margin-bottom:
25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}