@charset "utf-8";
/* CSS Document voor Floats project*/

.links {
    background: #4e6078;
    color: white;
    padding: 1em 2.5%;
    width: 25%;
    float: left;
}

.rechts {
    background: #55C5E8;
    padding: 1em 2.5%;
    width: 75%;
    float: right;
    clear: both;
}

.menu {
    text-decoration: none;
    color: white;
    list-style-type: none;
}
