#zoek{
    margin-left: 10em;
    width: 400px;  
    float: left;  
}

#zoek input{
    width: 100px;
}

#container{
    width: 40vw;
    float: left;
    margin: 0 auto;
}

#containerProfiel{
    width: 80vw;
    margin: 0 auto
}

#containerProfiel form{
    width: 80vw;
    margin: 0 auto
}

form img{
    width: 300px;
}

